{% load static %}
<div id="footer" class="navbar navbar-default" style="position:absolute;width:100%;height:140px;">
    <div style="text-align: center;height:140px;">
        <hr width="50%">
        <p>Virus Identification On Site</p>
        <p>Copyright&nbsp;<small>&copy;2017,&nbsp;<em>GROUP INFORMATION</em>&rsquo;s NGS web</small></p>

    </div>
</div>

<div style="position:fixed;right:5px;bottom:20px;">
    <a href="javascript:scroll(0,0)">
        <img src="{% static "website/images/return_top.png" %}" alt="return to top"/>
    </a>
</div>
