{% extends "website/base.html" %}

{% block title_head %}VIOS - manual{% endblock %}

{% block main_header %}
	Usage manual
{% endblock %}

{% block main_content %}
	<h3>SOLUTION1: Deploy with Docker</h3>
	<hr>
	<h4>&nbsp;&nbsp;&nbsp;&nbsp;——The image (with Dockerfile) is on
    <a href="https://hub.docker.com/r/suyanan/vios/" target="_blank"> DockerHub</a>.
    </h4> 

	<h3>SOLUTION2: Deploy with GitHub detailed information</h3>
	<hr>
	<h4>&nbsp;&nbsp;&nbsp;&nbsp;——The reference code is on
    <a href="https://github.com/suyanan/VIOS" target="_blank"> GitHub</a>.
    </h4> 
	
{% endblock %}