{% extends "website/base.html" %}

{% block title_head %}VIOS - reference{% endblock %}

{% block main_header %}
	Reference information
{% endblock %}

{% block main_content %}

    <h4><strong>REFERENCE ARTICLE</strong></h4>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;If you have used VIOS in your work, please cite:<br>...</h4><br>
    
    <h4>
    &nbsp;&nbsp;&nbsp;&nbsp;VIOS is a wrapper for 3rd party software. <br>
    &nbsp;&nbsp;&nbsp;&nbsp;Therefore, we strongly suggest you also cite the following papers if you use VIOS:<br>
    
    <ul>
        <li><h4>quality control</h4></li>
        <li><h4>map: bowtie2/blast+</h4></li>
        <li><h4>assembly: velvet</h4></li>
    </ul></h4>
   
    
    

    

{% endblock %}
